In [67]:
'''
Predicting Mean
'''

# importing required libraries
import pandas as pd
from sklearn.metrics import mean_squared_error

In [68]:
# read the train and test dataset
train_data = pd.read_csv('train2.csv')
test_data = pd.read_csv('test2.csv')

print(train_data.head())

# shape of the dataset
print('\nShape of training data :',train_data.shape)
print('\nShape of testing data :',test_data.shape)

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

Shape of training data : (8523, 12)

Shape of testing data : (5681, 11)

In [69]:
# Now, we need to predict the missing target variable in the test data using the mean only
# target variable - Item_Outlet_Sales

train_y = train_data['Item_Outlet_Sales']

# test_y = test_data['Item_Outlet_Sales']

In [70]:
print('Mean of Target Variable : ',train_y.mean())

# predict the target on the test dataset
predict_train = [train_y.mean() for i in range(train_y.shape[0])]
 
# Root Mean Squared Error on training dataset
rmse_train = mean_squared_error(train_y,predict_train)**(0.5)
print('\nMSE on train dataset : ', rmse_train)

Mean of Target Variable :  2181.2889135750365

MSE on train dataset :  1706.3995013565955

## Linear Regression on two variables

In [71]:
# importing basic libraries

import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

In [87]:
test = pd.read_csv('test2.csv')
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [73]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()

#### Linear regression with more variables

In [74]:
train = pd.read_csv('train2.csv')

test = pd.read_csv('test2.csv')

# imputing missing values

train['Item_Visibility'] = train['Item_Visibility'].replace(0,np.mean(train['Item_Visibility']))

train['Outlet_Establishment_Year'] = 2013 - train['Outlet_Establishment_Year']

train['Outlet_Size'].fillna('Small',inplace=True)
train['Item_Weight'].fillna((train['Item_Weight'].mean()), inplace=True)

# creating dummy variables to convert categorical into numeric values

mylist = list(train.select_dtypes(include=['object']).columns)

dummies = pd.get_dummies(train[mylist], prefix= mylist)

train.drop(mylist, axis=1, inplace = True)

X = pd.concat([train,dummies], axis =1 )
X

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,14,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,4,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,14,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.066132,182.0950,15,732.3800,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,8.930,0.066132,53.8614,26,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,26,2778.3834,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,8.380,0.046982,108.1570,11,549.2850,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8520,10.600,0.035186,85.1224,9,1193.1136,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,7.210,0.145221,103.1332,4,1845.5976,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,14.800,0.044878,75.4670,16,765.6700,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0

In [75]:
X.isnull().sum()

Item_Weight                      0
Item_Visibility                  0
Item_MRP                         0
Outlet_Establishment_Year        0
Item_Outlet_Sales                0
                                ..
Outlet_Location_Type_Tier 3      0
Outlet_Type_Grocery Store        0
Outlet_Type_Supermarket Type1    0
Outlet_Type_Supermarket Type2    0
Outlet_Type_Supermarket Type3    0
Length: 1605, dtype: int64

In [76]:
X = train.drop('Item_Outlet_Sales',1)
x_train, x_val, y_train, y_val = train_test_split(X,train.Item_Outlet_Sales, test_size =0.3)

lreg= LinearRegression()
# training a linear regression model on train
lreg.fit(x_train,y_train)

# predicting on val
pred_val = lreg.predict(x_val)

# calculating mse
mse = np.mean((pred_val - y_val)**2)

In [77]:
mse

1918355.3417773785

In [78]:
lreg.score(x_val,y_val)

0.3539941387768535

In [79]:
from sklearn.linear_model import Ridge

## training the model

ridgeReg = Ridge(alpha=0.05, normalize=True)

ridgeReg.fit(x_train,y_train)

pred = ridgeReg.predict(x_val)

mse = np.mean((pred_val - y_val)**2)

In [80]:
mse

1918355.3417773785

In [81]:
from sklearn.linear_model import Lasso

lassoReg = Lasso(alpha=0.3, normalize=True)

lassoReg.fit(x_train,y_train)

pred = lassoReg.predict(x_val)

# calculating mse

mse = np.mean((pred_val - y_val)**2)

lassoReg.score(x_val,y_val)

0.35310597455063475

In [82]:
mse

1918355.3417773785

In [90]:
test['Item_Visibility'] = test['Item_Visibility'].replace(0,np.mean(test['Item_Visibility']))

test['Outlet_Establishment_Year'] = 2013 - test['Outlet_Establishment_Year']


test['Item_Weight'].fillna((test['Item_Weight'].mean()), inplace=True)

# creating dummy variables to convert categorical into numeric values

mylist = list(test.select_dtypes(include=['object']).columns)

dummies = pd.get_dummies(test[mylist], prefix= mylist)

test.drop(mylist, axis=1, inplace = True)

X = pd.concat([test,dummies], axis =1 )

ValueError: No objects to concatenate